<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deacons</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
    <style>
        body {
            background-color: #fdfeec;
        }
        .container {
            max-width: 700px;
        }

        .add-name{
            width: 400px;
        }

        .add-name h2{
            margin: None !important;
        }

        .add-name .btn{
            width: fit-content !important;
        }

        h2 {
            width: fit-content;
            margin: auto;
        }
        .form-container{ 
            
            max-height: 300px;
            overflow-y: scroll;
            margin: auto;
        }

        form {
            max-width: 550px;
            margin: auto;
        }

        input[type="checkbox"]{
            display: none;
        }

        input[type="date"]{
            width: fit-content;
            margin-top: 10px;
        }

        .attendence .btn {
            width: 150px;
            display: block;
            margin-left: auto;
        }

        .pop-up{
            
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="add-name mb-3 mt-3">
            <div class="choices mb-2">
                <button class="btn btn-primary choice-submit" data-choice="name">Add Name</button>
                <button class="btn btn-outline-primary choice-submit" data-choice="class">Add Class</button>
            </div>
            <label for="name-field" class="form-label">Name</label>
            <input type="text" class="form-control" id="name-field" name="name">
            <button class="btn btn-primary mt-2 submit-name">Add Name</button>
        </div>

        <div class="attendence">
            <h2 class="mb-5">Attendence</h2>
            {% if success %}
                <div class="alert alert-success" role="alert">
                    {{ success }}
                </div>
            {% elif error %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
            {% endif %}
    
            <form action="save" method="post">
                {% csrf_token %}
                <div class="p-2 d-flex sheets-form flex-wrap">
                    {% for sheet in sheets %}
                        <div class="sheet-btn mb-2 me-2 ">
                            <input class="btn-check" type="radio" name="sheet" value="{{ sheet }}" id="{{ sheet }}">
                            <label class="btn btn-outline-primary" for="{{ sheet }}">
                                {{ sheet }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="border rounded p-2 form-container d-flex justify-content-between flex-wrap names-form">
                    {% for name in names %}
                        <div class="name-btn mb-2 me-2 ">
                            <input class="form-check-input" type="checkbox" name="name" value="{{ name }}" id="{{ name }}">
                            <label class="form-check-label btn btn-outline-primary" for="{{ name }}">
                                {{ name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="date mt-2">
                    <label for="date">Attendence Date</label>
                    <input type="date" name="date" id="date" class="form-control">
                </div>
                <div class="submit mt-2">
                    <input type="submit" value="save" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>



    <script>
        // Constants
        const NAMEDIV = document.querySelector(".add-name")
        const NAME = document.querySelector("#name-field")
        const ADDBTN = document.querySelector(".submit-name")
        const NAMESFORM = document.querySelector(".names-form")
        const SHEETSFORM = document.querySelector(".sheets-form")
        const DATE = document.querySelector("#date")
        const SWITCHBTNS = document.querySelectorAll(".choice-submit")

        // Functions
        function removeActiveClass(buttons){
            if(buttons){
                buttons.forEach(btn => {
                    btn.classList.remove("btn-primary")
                    btn.classList.add("btn-outline-primary")
                })
            }
        }

        function removeAlert(element){
            let fading = setInterval(() => {
                element.style.opacity -= 0.2
            }, 1000)
            setTimeout(() => {
                element.remove()
                clearInterval(fading)
            }, 5000)
        }

        function toggleActiveClass(input, btn){
            let checked = input.checked;
            if (checked) {
                btn.classList.add("btn-primary");
                btn.classList.remove("btn-outline-primary");

            } else {
                btn.classList.remove("btn-primary");
                btn.classList.add("btn-outline-primary");
            }
        }

        function activeBtn(btn, btns=null){
            btn.addEventListener("click", (e) => {
                let currentBtn = e.target
                if (btns){
                    removeActiveClass(btns)
                    btn.addEventListener("click", getNames())
                }
                setTimeout(() => {
                    toggleActiveClass(currentBtn.parentNode.querySelector("input"), currentBtn)
                }, 0);
            })
        }

        function buildNames(names){
            let html = ""
            names.forEach(name => {
                html += `
                <div class="name-btn mb-2 me-2 ">
                    <input class="form-check-input" type="checkbox" name="name" value="${name}" id="${name}">
                    <label class="form-check-label btn btn-outline-primary" for="${name}">
                        ${name}
                    </label>
                </div>
                
                `
            })
            return html
        }

        // function activeBtns(divName){
        //     if (divName == "sheets"){
        //         activeSheetBtns()
        //     }
        //     else if (divName == "names"){
        //         activeNamesBtns()
        //     }
        // }

        function activeSheetBtns(){
            let sheets = document.querySelectorAll(".sheets-form .btn")
            sheets.forEach(btn => {
                activeBtn(btn, sheets)
            })
        }

        function sleep(milliseconds) {
            const start = new Date().getTime();
            let end = start;
            while (end < start + milliseconds) {
                end = new Date().getTime();
            }
        }

        function getNames(){
            setTimeout(() => {
                fetch(`/names/${getSheetName()}`)
                .then(response => response.json().then(data => ({"data": data, "status": response.status})))
                .then(result => {
                    if (result.status == 404){
                        NAMESFORM.innerHTML = "There is No Names!"
                    }
                    else{
                        NAMESFORM.innerHTML = buildNames(result.data.names)
                        activeNamesBtns()
                    }
                })
            }, 100)
        }

        function activeNamesBtns(){
            let names = document.querySelectorAll(".names-form .btn")
            names.forEach(btn => {
                activeBtn(btn)
            })
        }

        function getLastSaturday(){
            // Get the current date
            const today = new Date();
            
            // Get the day of the week (0 is Sunday, 6 is Saturday)
            const dayOfWeek = today.getDay();
            
            // Calculate the difference to the last Saturday
            const offset = dayOfWeek === 6 ? 0 : dayOfWeek + 1;
            
            // Subtract the offset from the current date to get the last Saturday
            const lastSaturday = new Date(today);
            lastSaturday.setDate(today.getDate() - offset);
            
            // Format the last Saturday as YYYY-MM-DD for the input field
            const yyyy = lastSaturday.getFullYear();
            const mm = String(lastSaturday.getMonth() + 1).padStart(2, '0'); // January is 0!
            const dd = String(lastSaturday.getDate()).padStart(2, '0');
            
            const formattedDate = `${yyyy}-${mm}-${dd}`;
            
            // Return the formatted date
            return formattedDate;
        }

        function setDateToSaturday(){
            let saturdayDate = getLastSaturday()
            DATE.value = saturdayDate
        }

        // Real-time 
        // When page is loaded
        window.addEventListener("DOMContentLoaded", () => {
            activeSheetBtns()
            activeNamesBtns()
            setDateToSaturday()

            // activate selecting buttons
            SWITCHBTNS.forEach(choiceBtn => {
                choiceBtn.addEventListener("click", (e) => {
                    removeActiveClass(SWITCHBTNS)
                    choiceBtn.classList.add("btn-primary")
                    choiceBtn.classList.remove("btn-outline-primary")
                })
            })
        })

        function getSheetName(){
            let name = ""
            let checked = document.querySelector(".sheets-form input:checked")
            name = checked?.id
            return name
        }

        function addName(name){
            // Add Name Btn
            let nameBtn = `
                <div class="name-btn mb-2 me-2 ">
                    <input class="form-check-input" type="checkbox" name="name" value="${name}" id="${name}">
                    <label class="form-check-label btn btn-outline-primary" for="${name}">
                        ${name}
                    </label>
                </div>
            `
            NAME.value = ""
            NAMESFORM.insertAdjacentHTML("beforeend", nameBtn)
        }

        function addClass(sheet){
            // Add Name Btn
            let sheetBtn = `
                <div class="sheet-btn mb-2 me-2 ">
                    <input class="btn-check" type="radio" name="sheet" value="${sheet}" id="${sheet}">
                    <label class="btn btn-outline-primary" for="${sheet}">
                        ${sheet}
                    </label>
                </div>
            `
            NAME.value = ""
            SHEETSFORM.insertAdjacentHTML("beforeend", sheetBtn)
        }

        // When new name is added
        ADDBTN.addEventListener("click", () => {
            // Send Request
            let name = NAME.value
            let url = "/names"
            let choice = document.querySelector(".choices .btn-primary").dataset.choice
            let data = {
                    "name" : name,
                    "sheet" : getSheetName(),
            }
            if (choice == "class"){
                url = "/class"
                data = {
                    "sheet" : name
                }
            }
            fetch(url, ({
                method: 'post',
                body: JSON.stringify(data)
            }))
            .then(response => response.json().then(data => ({"message" : data.message, "status":response.status})))
            .then(result => {
                let className = "alert-success"
                if (result.status == 200){
                    if (choice == "class"){
                        addClass(name)
                        activeSheetBtns()

                    }
                    else if (choice == "name"){
                        addName(name)
                        activeBtn(NAMESFORM.lastElementChild)
                    }
                }
                else{
                    className = "alert-danger"
                }
                let messageDiv = `
                    <div class="alert ${className}" role="alert">
                        ${result.message}
                    </div>
                `
                NAMEDIV.insertAdjacentHTML("afterbegin", messageDiv)
                let alert = NAMEDIV.firstElementChild
                alert.style.opacity = 1
                removeAlert(alert)
            })
        })

    </script>

</body>
</html>